{% extends 'base.html' %}

{% block title %}
Japanese Specialities
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock head %}

{% block body %}
    <section class="container-fluid px-2 mt-5">
        <!-- First dish -->
        <div class="row align-items-center spacing">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mt-5 mb-sm-5">
                        <h2>Sushi</h2>
                        <p class="lead">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
                            those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by
                            Cicero are also reproduced in their exact original form, accompanied by English versions
                            from the 1914 translation by H. Rackham.</p>
                        <button class="btn btn-outline-success" type="button"> Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 align-content-center">
                <img src="/static/media/sushi.jpeg" class="img-fluid" alt="">
            </div>
        </div>
        <!-- Second dish -->
        <div class="row align-items-center spacing">
            <div class="col-md-6 order-2 order-md-1">
                <img src="img/noodle.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 mb-5 mb-sm-5">
                        <h2>Udon noodle</h2>
                        <p class="lead">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
                            those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by
                            Cicero are also reproduced in their exact original form, accompanied by English versions
                            from the 1914 translation by H. Rackham.</p>
                        <button class="btn btn-outline-success" type="button"> Learn More</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Third dish -->
        <div class="row align-items-center spacing mt-5">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 mb-5 mb-sm-5">
                        <h2>Salmon</h2>
                        <p class="lead">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
                            those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by
                            Cicero are also reproduced in their exact original form, accompanied by English versions
                            from the 1914 translation by H. Rackham.</p>
                        <button class="btn btn-outline-success" type="button"> Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="img/salmon.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <!-- Fourth dish -->
        <div class="row align-items-center spacing">
            <div class="col-md-6 order-2 order-md-1">
                <img src="img/rice.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 mb-5 mb-sm-5">
                        <h2>Udon noodle</h2>
                        <p class="lead">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for
                            those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by
                            Cicero are also reproduced in their exact original form, accompanied by English versions
                            from the 1914 translation by H. Rackham.</p>
                        <button class="btn btn-outline-success" type="button"> Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}