{% extends 'base.html' %}

{% block title %}
Our members
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/style.css">
{% endblock head %}

{% block body %}
    <header id="intro">
        <div class="row">
            <div class="heading-main-box">
                <h1>Our crew</h1>
                <h2>This work cannot be done without these people</h2>
            </div>
        </div>
    </header>

    <section class="crew">
        <div class="container">
            <div class="row">
                <h2>Team Frontend</h2>
                <div class="col-md-4">
                    <img src="img/bg_image.jpg" alt="">
                    <p>Phạm Quang Hưng</p>
                </div>
                <div class="col-md-4">
                    <img src="img/bg_image.jpg" alt="">
                    <p>Lê Công Bách</p>
                </div>
                <div class="col-md-4">
                    <img src="img/bg_image.jpg" alt="">
                    <p>Nguyễn Thành Công</p>
                </div>

                <h2>Team Backend</h2>
                <div class="col-md-4">
                    <img src="img/bg_image.jpg" alt="">
                    <p>Triệu Đình Quang</p>
                </div>
                <div class="col-md-4">
                    <img src="img/bg_image.jpg" alt="">
                    <p>Nguyễn Quốc Dũng</p>
                </div>
                <div class="col-md-4">
                    <img src="img/bg_image.jpg" alt="">
                    <p>Cao Quốc Dũng</p>
                </div>
                <h2>Team Japanese</h2>
                <div class="col-12 japanese">
                    <img src="img/bg_image.jpg" alt="">
                    <p>Phạm Tuấn Dương</p>
                </div>
            </div>

        </div>

    </section>
{% endblock body %}